.summary-data {
  width: 80vw;
}

table {
  width: 100%;
  table-layout: fixed;
}
.tbl-header {
  border: 1px solid #151a30;
  box-shadow: 0 1px 0px #151a30;
}
.tbl-content {
  max-height: 60vh;
  min-height: 300px;
  overflow-x: auto;
  margin-top: 0px;
  border: 1px solid #151a30;
}
th {
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}
td {
  padding: 15px 10px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  color: #fcfcfc;
  border-bottom: solid 1px #151a30;
  word-wrap: break-word;
}
.device {
  width: 100%;
  display: flex;
  justify-content: space-around;
  .device-item {
    width: 300px;
    margin-bottom: 16px;
    > label {
      padding: 0;
      margin: 0;
      color: #858585;
      font-weight: 400;
    }
    > p {
      margin: 0;
      padding: 0;
      font-size: 1.25rem;
    }
  }
}

.arrow-icon {
  margin: 0;
  padding: 0;

  &::before {
    content: ">";
    font-size: 8px;
    display: inline-block;
    margin-right: 16px;
  }
  .open::before {
    transform: rotate(45deg);
  }
}

.inline-block {
  display: inline-block;
}

fieldset {
  border-radius: 0.25rem;
  border: 1px solid #858585 !important;
  margin-bottom: 20px;
}

.mat-form-field {
  color: white;
  width: 100%;
  font-size: 1.25rem;
}

.submit {
  // width: 50%;
  width: 100%;
  height: 50px;
  float: right;
  background-color: #3ee9cb;
  letter-spacing: 1.2px;
  // border: 1px solid #858585;
  // background-color: #858585;
  color: #858585;
  padding: 10px 50px;
  &:hover {
    cursor: pointer;
    color: #fcfcfc;
  }
}

::ng-deep .mat-slide-toggle {
  margin-bottom: 20px !important;
}

::ng-deep .mat-slide-toggle-bar {
  background-color: rgba(255, 255, 255, 0.22) !important;
}

::ng-deep .mat-focused .mat-form-field-label {
  font-weight: normal !important;
  color: #fcfcfc !important;
}

::ng-deep .mat-form-field-label {
  color: #858585 !important;
}

::ng-deep .mat-form-field-underline {
  background-color: #151a30 !important;
}

::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
  background-color: #3ee9cb !important;
}

::ng-deep .mat-slide-toggle-thumb {
  background-color: #888 !important;
}

::ng-deep .mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-thumb {
  background-color: #3ee9cb !important;
  border: 1px solid #fff !important;
}
