<div class="summary-data">
  <app-card>
    <div card-header>Device List</div>
    <div card-info *ngIf="deviceInfo$ | async as vm">
      <section>
        <div class="tbl-header">
          <table cellpadding="0" cellspacing="0" border="0">
            <thead>
              <tr>
                <th>No.</th>
                <th>Edge Name</th>
                <th>Host Name</th>
                <th>Status</th>
                <th>Model Name</th>
                <th>Firmware Ver.</th>
                <th>Thingspro Ver.</th>
                <th>Uplink</th>
                <th>IP</th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="tbl-content">
          <table cellpadding="0" cellspacing="0" border="0">
            <tbody *ngFor="let item of vm">
              <tr>
                <td (click)="item.showDetail = !item.showDetail">
                  {{ item.id }}
                </td>
                <td>{{ item.deviceName }}</td>
                <td>{{ item.general.hostName }}</td>
                <td>{{ item.ethernets[0].status }}</td>
                <td>{{ item.general.modelName }}</td>
                <td>{{ item.general.firmwareVersion }}</td>
                <td>{{ item.general.thingsproVersion }}</td>
                <td>{{ item.ethernets[0].displayName }}</td>
                <td>{{ item.ethernets[0].ip }}</td>
              </tr>
              <tr *ngIf="item.showDetail">
                <td  colspan="9">
                  <app-card [header]="false">

                    <div class="device"
                      card-info
                      *ngIf="getDeviceInfoById$(item.id) | async as deviceItem"
                    >
                      <div>
                        <div class="device-item">
                          <label>Serial No.</label>
                          <p>{{ deviceItem.general.serialNumber }}</p>
                        </div>
                        <div class="device-item">
                          <label>Last Boot Time</label>
                          <p>{{ deviceItem.general.lastBootTime }}</p>
                        </div>
                      </div>
                      <div >
                        <div class="device-item">
                          <label>NTP Enable</label>
                          <!-- <p>{{ deviceItem.general.lastBootTime }}</p> -->
                        </div>
                        <div class="device-item">
                          <label>NTP Server</label>
                          <!-- <p>{{ deviceItem.general.lastBootTime }}</p> -->
                        </div>

                        <div class="device-item">
                          <label>NTP Interval</label>
                          <!-- <p>{{ deviceItem.general.lastBootTime }}</p> -->
                        </div>

                        <div class="device-item">
                          <label>Time Zone</label>
                          <!-- <p>{{ deviceItem.general.lastBootTime }}</p> -->
                        </div>
                        <div class="device-item">
                          <label>Host Name</label>
                          <!-- <p>{{ deviceItem.general.lastBootTime }}</p> -->
                        </div>
                        <div class="device-item">
                          <label>Description</label>
                          <!-- <p>{{ deviceItem.general.lastBootTime }}</p> -->
                        </div>
                      </div>
                    </div>
                  </app-card>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </div>
  </app-card>
</div>
